---
const { title = '', subtitle='', aftertext='', image = '' } = Astro.props;
---

<div class="wishlist-item wide-item">
    <div class="item-image">
        {image && <img src={image} alt={title} width="500" height="333"/>}

        <div class="item-text">
            <label>{title}</label>
            <div class="text-content">
                <div class="sub-title">{subtitle}</div>
                <ul class="multiple-point">
                    <slot /> 
                </ul>
                <div set:html={aftertext}></div>
            </div>
        </div>
    </div>
</div>