---
const {id='', content='', bannerType='', banner, confirmText = 'Підтвердити', cancelText='Скасувати' } = Astro.props;
var bannerImage = banner;
const random = Math.floor(Math.random() * 10) + 1;


if (!banner && bannerType === 'positive') {
  bannerImage = `/wishlist/spongebob/happy/${random}.jpg`;
}

if (!banner && bannerType === 'negative') {
  bannerImage = `/wishlist/spongebob/sad/${random}.jpg`;
}
---


<div id={id} class="dialog-overlay">
    <div class="dialog-content">
      <div class="dialog-body">
        <img src={bannerImage} alt="banner" />
      </div>
      <div class="dialog-footer">
        <p>{content}</p>
        <div class="dialog-actions">
          <button class="confirm-button">{confirmText}</button>
          <button class="cancel-button">{cancelText}</button>
        </div>
      </div>
    </div>
  </div>